# YouTube TCP
--new
--filter-tcp=80,443
--hostlist=./hostlists/youtube.txt
--dpi-desync=multisplit
--dpi-desync-split-seqovl=1
--dpi-desync-split-pos=midsld-1
--comment="YouTube TCP"

# YouTube QUIC
--new
--filter-udp=443
--hostlist=./hostlists/youtube.txt
--dpi-desync=fake
--dpi-desync-repeats=11
--comment="YouTube QUIC"

# YouTube video hosts
--new
--filter-tcp=443
--hostlist-domains=googlevideo.com
--dpi-desync=fake,fakeddisorder
--dpi-desync-fooling=datanoack
--dpi-desync-split-pos=midsld
--dpi-desync-fake-tls=!
--dpi-desync-fake-tls-mod=sni=<FAKE_SNI>
--comment="YouTube Video"
