youtube.com
youtu.be
googlevideo.com
ytimg.com
gstatic.com
ggpht.com
1e100.net
youtubei.googleapis.com
l.google.com
googleusercontent.com
gvt1.com
video.google.com
youtube-nocookie.com
play.google.com
apis.google.com
www.youtube.com
m.youtube.com
